<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="jquery.js"></script>
    <script src="handle.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>
  <body>

    <div id="wrapper">

      <div id="loginForm">
        <h3 id="titleLogin">
          LOGIN
        </h3>
        <input type="text" id="txtUsername"/>
        <input type="button" value="Register" id="btnRe"/>
      </div>

      <div id="chatForm">
        <div id="left">
            <div id="boxTitle">
                Users Online
            </div>
            <div id="boxContent">
                <div class="useronline">
                  Minh Thanh
                </div>
                <div class="useronline">
                  Minh Thanh
                </div>
                <div class="useronline">
                  Minh Thanh
                </div>
                <div class="useronline">
                  Minh Thanh
                </div>
                <div class="useronline">
                  Minh Thanh
                </div>
            </div>
        </div>
        <div id="right">
            <div id="sayHi">
              Hello <span id="currentUser">MThanh</span>
              <input type="button" value="Logout" id="btnLogout"/>
            </div>
            <div id="listMessages">

            </div>
            <div>
              <input id="txtMessage" type="text"/>
              <input id="btnSend" type="button" value="Send"/>
            </div>
        </div>
      </div>

    </div>
  </body>
</html>
